* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: 400;
}

ul { 
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}
