* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: 400; }

ul {
  list-style: none;
  padding: 0; }

p {
  margin: 0; }

h1, h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center; }
  .header__name {
    font-style: 20px;
    color: rgba(0, 0, 0, 0.5); }

.main {
  display: flex; }
  .main .parameters {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .parameters__name {
      color: rgba(0, 0, 0, 0.8);
      margin: 5px 0; }
    .main .parameters .coordinates {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 520px; }
      .main .parameters .coordinates__name {
        margin: 5px 0; }
      .main .parameters .coordinates-input {
        display: flex;
        width: 100%;
        height: 100%; }
        .main .parameters .coordinates-input .colors {
          width: 46%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .main .parameters .coordinates-input .colors__title {
            margin: 10px 0; }
          .main .parameters .coordinates-input .colors-variants {
            width: 100%;
            height: 100%;
            display: flex; }
            .main .parameters .coordinates-input .colors-variants .color-show {
              width: 15%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center; }
              .main .parameters .coordinates-input .colors-variants .color-show__item {
                width: 20px;
                height: 20px;
                border: 1px solid black; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-white {
                  background-color: #fff; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-black {
                  background-color: #000; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-black50 {
                  background-color: rgba(0, 0, 0, 0.5); }
                .main .parameters .coordinates-input .colors-variants .color-show__item-cyan {
                  background-color: #25c5e8; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-cyan50 {
                  background-color: rgba(37, 197, 232, 0.5); }
                .main .parameters .coordinates-input .colors-variants .color-show__item-magenta {
                  background-color: #f62b99; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-magenta50 {
                  background-color: rgba(246, 43, 153, 0.5); }
                .main .parameters .coordinates-input .colors-variants .color-show__item-yellow {
                  background-color: #fff626; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-yellow50 {
                  background-color: rgba(255, 246, 38, 0.5); }
                .main .parameters .coordinates-input .colors-variants .color-show__item-red {
                  background-color: red; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-green {
                  background-color: green; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-blue {
                  background-color: blue; }
                .main .parameters .coordinates-input .colors-variants .color-show__item-zero {
                  border: 1px solid #fff; }
            .main .parameters .coordinates-input .colors-variants .color-name {
              width: 85%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between; }
              .main .parameters .coordinates-input .colors-variants .color-name__item {
                margin-left: 20px; }
        .main .parameters .coordinates-input .parameter-L {
          width: 18%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          .main .parameters .coordinates-input .parameter-L__title {
            margin: 10px 0 0 0; }
          .main .parameters .coordinates-input .parameter-L__item {
            width: 50px;
            height: 20px;
            border: 1px solid #000;
            padding: 2px 5px; }
        .main .parameters .coordinates-input .parameter-a {
          width: 18%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          .main .parameters .coordinates-input .parameter-a__title {
            margin: 10px 0 0 0; }
          .main .parameters .coordinates-input .parameter-a__item {
            width: 50px;
            height: 20px;
            border: 1px solid #000;
            padding: 2px 5px; }
        .main .parameters .coordinates-input .parameter-b {
          width: 18%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          .main .parameters .coordinates-input .parameter-b__title {
            margin: 10px 0 0 0; }
          .main .parameters .coordinates-input .parameter-b__item {
            width: 50px;
            height: 20px;
            border: 1px solid #000;
            padding: 2px 5px; }
  .main .result {
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .result__name {
      color: rgba(0, 0, 0, 0.8);
      margin: 5px 0; }
    .main .result .output {
      width: 90%;
      height: 390px;
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;
      border-bottom: 2px solid #4DCDD6;
      border-left: 2px solid #4DCDD6; }
      .main .result .output .graph {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main .result .output .graph__name {
          margin: 5px 0; }
        .main .result .output .graph-cont {
          width: 90%;
          height: 100%;
          background-color: #ececec; }
      .main .result .output .values {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main .result .output .values__name {
          margin: 5px 0 15px 0; }
        .main .result .output .values .colors-values {
          width: 90%;
          height: 50%;
          display: flex; }
          .main .result .output .values .colors-values .color-show {
            width: 10%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; }
            .main .result .output .values .colors-values .color-show__item {
              width: 20px;
              height: 20px;
              border: 1px solid black; }
              .main .result .output .values .colors-values .color-show__item-cyan100 {
                background-color: #25c5e8; }
              .main .result .output .values .colors-values .color-show__item-magenta100 {
                background-color: #f62b99; }
              .main .result .output .values .colors-values .color-show__item-yellow100 {
                background-color: #fff626; }
              .main .result .output .values .colors-values .color-show__item-black {
                background-color: black; }
          .main .result .output .values .colors-values .color-titles {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 20px; }
          .main .result .output .values .colors-values .color-result {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; }
            .main .result .output .values .colors-values .color-result__item {
              border-bottom: 1px solid black; }
        .main .result .output .values .curve {
          width: 90%;
          display: flex;
          flex-direction: row; }
          .main .result .output .values .curve__color {
            width: 20px;
            height: 20px;
            border: 1px solid black;
            background-color: #000; }
          .main .result .output .values .curve__title {
            width: 75%;
            padding-left: 20px; }
          .main .result .output .values .curve__result {
            align-content: center;
            border-bottom: 1px solid black; }
    .main .result .get-results {
      width: 90%;
      height: 130px;
      display: flex; }
      .main .result .get-results .more-parameters {
        width: 70%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        .main .result .get-results .more-parameters .type-of-screening {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .main .result .get-results .more-parameters .type-of-screening__title {
            width: 40%; }
          .main .result .get-results .more-parameters .type-of-screening form {
            width: 60%;
            display: flex;
            justify-content: space-between; }
            .main .result .get-results .more-parameters .type-of-screening form .radio {
              width: 50%; }
              .main .result .get-results .more-parameters .type-of-screening form .radio__button {
                margin: 0 10px 0 0; }
        .main .result .get-results .more-parameters .type-of-base {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .main .result .get-results .more-parameters .type-of-base__title {
            width: 40%; }
          .main .result .get-results .more-parameters .type-of-base form {
            width: 60%;
            display: flex;
            justify-content: space-between; }
            .main .result .get-results .more-parameters .type-of-base form .radio {
              width: 50%; }
              .main .result .get-results .more-parameters .type-of-base form .radio__button {
                margin: 0 10px 0 0; }
        .main .result .get-results .more-parameters .print-conditions {
          width: 100%;
          display: flex; }
          .main .result .get-results .more-parameters .print-conditions__title {
            width: 40%; }
          .main .result .get-results .more-parameters .print-conditions__selection {
            width: 25%;
            padding: 0 0 0 45px; }
      .main .result .get-results .container-for-button {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .main .result .get-results .container-for-button__button {
          width: 90%;
          height: 70px;
          background-color: #4DCDD6;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          font-weight: bold;
          color: white; }
          .main .result .get-results .container-for-button__button:hover {
            background-color: #8ad4da; }
          .main .result .get-results .container-for-button__button:focus {
            background-color: #3cb7c0; }
